@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
@import "tailwindcss";

/* Reset mínimo y sensato */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  color-scheme: light dark;
  background-color: rgb(255 253 248);
}

/* Estilos base opcionales */
body {
  font-family: "Balsamiq Sans", system-ui, sans-serif;
}
